apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.envoy.configMapName }}
  labels:
    {{- include "cofide-connect-ui.labels" . | nindent 4 }}
data:
  # envoy.yaml is the main Envoy configuration file.
  envoy.yaml: |
    node:
      id: connect-ui-envoy-proxy
      cluster: cluster
    static_resources:
      listeners:
        - name: listener_0
          address:
            socket_address:
              address: 0.0.0.0
              port_value: 8443
          listener_filters:
            - name: envoy.filters.listener.tls_inspector
              typed_config:
                '@type': type.googleapis.com/envoy.extensions.filters.listener.tls_inspector.v3.TlsInspector
          filter_chains:
            - name: connect_ui
              filter_chain_match:
                application_protocols:
                  - h2
                server_names:
                  - {{ .Values.ui.hostname }}
              transport_socket:
                name: envoy.transport_sockets.tls
                typed_config:
                  '@type': type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.DownstreamTlsContext
                  common_tls_context:
                    alpn_protocols:
                      - h2
                    tls_certificate_sds_secret_configs:
                      - name: connect_ui_tls_cert
                        sds_config:
                          path_config_source:
                            path: /etc/envoy/envoy-sds.yaml
              filters:
                - name: envoy.filters.network.http_connection_manager
                  typed_config:
                    '@type': type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                    stat_prefix: http_ui
                    codec_type: AUTO
                    route_config:
                      name: local_route
                      virtual_hosts:
                        - name: ui_service
                          domains:
                            - '*'
                          routes:
                            - match:
                                prefix: /
                              route:
                                cluster: connect_ui
                    http_filters:
                      - name: envoy.filters.http.router
                        typed_config:
                          '@type': type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
                    access_log:
                      - name: envoy.access_loggers.file
                        typed_config:
                          '@type': type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog
                          path: /dev/stdout
                          log_format:
                            json_format:
                              timestamp: '%START_TIME%'
                              client_ip: '%DOWNSTREAM_REMOTE_ADDRESS_WITHOUT_PORT%'
                              uri: '%REQ(:PATH)%'
                              method: '%REQ(:METHOD)%'
                              protocol: '%PROTOCOL%'
                              response_code: '%RESPONSE_CODE%'
                              bytes_received: '%BYTES_RECEIVED%'
                              bytes_sent: '%BYTES_SENT%'
                              duration: '%DURATION%'
                              filter_chain_name: '%FILTER_CHAIN_NAME%'
                              upstream_host: '%UPSTREAM_HOST%'
                              upstream_cluster: '%UPSTREAM_CLUSTER%'
                              upstream_local_address: '%UPSTREAM_LOCAL_ADDRESS%'
                              grpc_status: '%GRPC_STATUS%'
                              requested_server_name: '%REQUESTED_SERVER_NAME%'
      clusters:
        - name: connect_ui
          connect_timeout: 5.0s
          type: STRICT_DNS
          lb_policy: ROUND_ROBIN
          load_assignment:
            cluster_name: connect_ui
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: 127.0.0.1
                          port_value: 8080
    admin:
      access_log_path: /dev/stdout
      address:
        socket_address:
          address: 127.0.0.1
          port_value: 9901

  # envoy-sds.yaml is a Secret Discovery Service (SDS) configuration file.
  # This is used as an SDS dynamic configuration source, supporting automatic
  # certificate rotation by ensuring that a filesystem watch is used for the
  # certificate and key. See example 3 in
  # https://www.envoyproxy.io/docs/envoy/latest/configuration/security/secret#key-rotation
  envoy-sds.yaml: |
    resources:
      - "@type": "type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret"
        name: connect_ui_tls_cert
        tls_certificate:
          certificate_chain:
            filename: /etc/envoy/tls/tls.crt
          private_key:
            filename: /etc/envoy/tls/tls.key
