apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cofide-connect.fullname" . }}
  labels:
    {{- include "cofide-connect.labels" . | nindent 4 }}
data:
  config.yaml: |
    insecure_server_address: {{ .Values.connect.insecureServerAddress.host }}:{{ .Values.connect.insecureServerAddress.port }}
    ads_server_address: {{ .Values.connect.adsServerAddress.host }}:{{ .Values.connect.adsServerAddress.port }}
    spiffe_endpoint_socket: {{ .Values.connect.spiffeEndpointSocket }}
    trust_bundle_store_backend:
      {{- with .Values.connect.trustBundleStoreBackend.s3 }}
      s3:
        enabled: {{ .enabled }}
        bucket: {{ .bucket }}
        {{- with .oidc }}
        oidc:
          enabled: {{ .enabled }}
          aws_region: {{ .awsRegion }}
          iam_role_arn: {{ .iamRoleARN }}
          audience: {{ .audience }}
        {{- end }}
      {{- end }}
      {{- with .Values.connect.trustBundleStoreBackend.gcs }}
      gcs:
        enabled: {{ .enabled }}
        bucket: {{ .bucket }}
        {{- with .oidc }}
        oidc:
          enabled: {{ .enabled }}
          workload_identity_provider: {{ .workloadIdentityProvider }}
          audience: {{ .audience }}
        {{- end }}
      {{- end }}
    datastore:
      {{- with .Values.connect.datastore.sqlConnectionString }}
      sql_connection_string:
        enabled: {{ .enabled }}
        connection_string: {{ .connectionString | quote }}
        remote_spiffe_id: {{ .remoteSPIFFEID | quote }}
      {{- end }}
      {{- with .Values.connect.datastore.cloudSQL }}
      cloudsql:
        enabled: {{ .enabled }}
        instance: {{ .instance | quote }}
        database_name: {{ .databaseName | quote }}
        psc_enabled: {{ .pscEnabled }}
        {{- with .oidc }}
        oidc:
          workload_identity_provider: {{ .workloadIdentityProvider | quote }}
          audience: {{ .audience | quote }}
          service_account_name: {{ .serviceAccountName | quote }}
        {{- end }}
      {{- end }}
    connect_psat_audience: {{ .Values.connect.connectPSATAudience }}
    connect_trust_domain: {{ .Values.connect.trustDomain }}
    connect_trust_bundle_store_url: {{ .Values.connect.connectTrustBundleStoreURL }}
    telemetry_enabled: {{ .Values.connect.telemetryEnabled | toString }}
    authz_policy_engine: {{ .Values.connect.authzPolicyEngine }}
    initial_rbac:
      version: {{ .Values.connect.initialRBAC.version }}
      role_bindings: {{- range .Values.connect.initialRBAC.roleBindings }}
        - role_id: {{ .roleID | quote }}
          resource_type: {{ .resourceType }}
          resource_id: {{ .resourceID | quote }}
          {{- if (hasKey . "user") }}
          user:
            subject: {{ .user.subject | quote }}
          {{- end }}
          {{- if (hasKey . "group") }}
          group:
            claim_value: {{ .group.claimValue | quote }}
          {{- end }}
      {{- end }}
