apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cofide-connect.fullname" . }}
  labels:
    {{- include "cofide-connect.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "cofide-connect.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "cofide-connect.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "cofide-connect.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Release.Name }}
          args:
            - --config-file
            - /app/config/config.yaml
          env:
          - name: HOST_IP
            valueFrom:
              fieldRef:
                fieldPath: "status.hostIP"
          {{- /* Default env vars - overwritten if same name provided in connect.extraEnv. */ -}}
          {{- $envVars := dict
              "OTEL_EXPORTER_OTLP_PROTOCOL" (dict "value" "grpc")
              "OTEL_METRIC_EXPORT_INTERVAL" (dict "value" "60000")
              "OTEL_SERVICE_NAME" (dict "value" "connect")
          }}
          {{- range .Values.connect.extraEnv }}
            {{- $envVars = set $envVars .name (unset . "name") }}
          {{- end }}
          {{- range $key, $env := $envVars }}
          - name: {{ $key }}
            {{ toYaml $env | nindent 12 | trim }}
          {{- end }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          livenessProbe:
            grpc:
              port: {{ .Values.connect.insecureServerAddress.port }}
            initialDelaySeconds: 10
            periodSeconds: 15
            failureThreshold: 3
            timeoutSeconds: 5
          readinessProbe:
            grpc:
              port: {{ .Values.connect.insecureServerAddress.port }}
            initialDelaySeconds: 10
            periodSeconds: 15
            failureThreshold: 3
            timeoutSeconds: 5
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: spiffe-workload-api
              mountPath: /spiffe-workload-api
            - name: connect-config
              mountPath: /app/config
            {{- if (hasPrefix "sqlite" .Values.connect.sqlConnectionString ) }}
            - name: sqlite-data
              mountPath: "/app/data"
            {{- end }}
        - name: envoy-sidecar
          image: {{ .Values.envoy.image }}
          imagePullPolicy: {{ .Values.envoy.imagePullPolicy }}
          command: ["envoy"]
          args:
            - -c
            - /etc/envoy/envoy.yaml
            - --service-node
            - ${POD_NAME}
            - --service-cluster
            - ${POD_NAMESPACE}
            - -l
            - {{ .Values.envoy.logLevel }}
          ports:
            - name: https
              containerPort: 8443
            - name: admin
              containerPort: 9901 
          volumeMounts:
            - name: envoy-config
              mountPath: /etc/envoy
            - name: spiffe-workload-api
              mountPath: /spiffe-workload-api
            - name: envoy-tls
              mountPath: /etc/envoy/tls
              readOnly: true
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          {{- with .Values.envoy.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.envoy.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: connect-config
          configMap:
            name: {{ include "cofide-connect.fullname" . }}
            items:
              - key: config.yaml
                path: config.yaml
        - name: spiffe-workload-api
          csi:
            driver: "csi.spiffe.io"
            readOnly: true
        - name: envoy-config
          configMap:
            name: connect-api-envoy-config
        - name: envoy-tls
          secret:
            secretName: {{ .Values.envoy.auth.tlsSecretName }}
        {{- if (hasPrefix "sqlite" .Values.connect.sqlConnectionString ) }}
        - name: sqlite-data
          hostPath:
            path: /app/data
            type: DirectoryOrCreate
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
