apiVersion: v1
kind: Service
metadata:
  name: {{ include "cofide-connect.fullname" . }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "cofide-connect.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: proxy
      protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: 8443
  selector:
    {{- include "cofide-connect.selectorLabels" . | nindent 4 }}
